.job-card {
    flex: 0 0 280px;
    width: 380px;

    background: linear-gradient(135deg, #2563eb, #1e40af);
    padding: 20px;
    border-radius: 16px;
    color: white;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.job-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.job-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #a5f3fc;
}

.job-card p {
    margin: 6px 0;
    font-size: 14px;
}

.job-card button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background-color: #38bdf8;
    color: #0f172a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.job-card button:hover {
    background-color: #7dd3fc;
}
