.navbar {
    position: fixed;
    position: fixed;
     top: 0; 
     left: 0; 
     right: 0;
      z-index: 1000;


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #1e293b;
    color: white;
}

.nav-logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links a:hover {
    color: #38bdf8;
}